*{
    box-sizing: none;
    margin: 0;
    padding: 0;
    background-color: #D8D8D8;
    font-family: 'Soleil', sans-serif;
}


/* Pertenece al Inicio de Sesion */

#contenedor{
    background-color: #44BAA0;
}
#inicio{
    background-color: #FFFFFF;
    color:#E9643D;
    border-radius: 30px;
}
#boton2{
    background-color: #148FD4;
    color:#FFFFFF;
    width:50%;
}

.main-section{
    margin:0 auto;
    margin-top:25%;
    padding:0;
}

.modal-content{
    background-color: #44BAA0;
    padding: 0 20px;
}

.form-group input{
    height:42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 30px;
}
.imagenIzq{
    background-image: url(https://cdn.pixabay.com/photo/2022/05/30/16/50/couple-7231599_960_720.jpg);
    background-position: center center;
    height: 500px;
}

#colDer{
    background-color: #44BAA0;
}

.forma{
    background-color: #44BAA0;
}

.forma2{
    border-radius: 35px;
}

/* Pertenece a la plantilla Header y Footer */

.img{
    width: 355px;
    height: 100px;
}
#icono{
    width: 75px;
    height: 75px;
}
.hea{
    background-color: #4BCEEB;
    
}

.iconify{
    width: 50px;
    height: 50px;
}

#boton{
    background-color: white;
    color: #E9636D;
    /* margin-right: 10px; */
    font-family: 'Soleil', sans-serif;
    font-size: 1.3em;
    width: 100px;
    height:35px;
    line-height:1px;
}

.fondo{
    background-color: #4bceeb;
}


.text-rac{
   position:absolute;
   bottom:5px;
   left:0px;
   right: 0px;
}

#mensaje{
    background-color: #44BAA0;
    font-family: 'Soleil', sans-serif;
    font-size: 1.3em;
    color: #E9636D;
    text-align: center;
}
/* // Pantallas grandes */

@media (max-width: 1400px) {
  html {
    font-size: 1.3em;
  }
}

/* // Tabletas  */

@media (max-width: 768px) {
  html {
    font-size: 1.3em;
  }
}

/* // Celulares  */

@media (max-width: 450px) {
  html {
    font-size: .5em;
  }
}

