*{
    box-sizing: none;
    margin: 0;
    padding: 0;
    background-color: #D8D8D8;
    font-family: 'Soleil', sans-serif;
}

.img{
    width: 355px;
    height: 100px;
}
#icono{
    width: 75px;
    height: 75px;
}
.hea{
    background-color: #4BCEEB;   
}

.iconify{
    width: 75px;
    height: 75px;
}

#boton{
    background-color: white;
    color: #E9636D;
    margin-right: 100px;
    font-family: 'Soleil', sans-serif;
    font-size: 1.3em;
    width: 100px;
    height:35px;
    line-height:1px;
}

#trip{
    text-decoration: solid;
}

#paisaje{
  object-fit: cover;
  width: 100%;
  height: 300px ;
  margin: 0 0 15px 0 ;
    
}

#img_secundaria{
   display: block;
   margin:0px auto;
   border-radius: 50%;
   position:absolute;
   right: 100px;
   left: 130px;
   top: 320px;
   min-width: 50px;
   min-height: 50px;

}

/* .iconomas{
    background-color: white;
    border-radius: 1rem;
} */
/* .image{
    background-color: white;
} */
/* .ubi{
    background-color: white;
} */
/* .feeld{
    background-color: white;
} */

/**Comence desde aquí*/
.grid{
    display:grid;
    margin:0 60px 20px 60px;
    
}
/*Mejorar el tamaño de las imagenes*/
.grid div{
    background-color:#D8D8D8;
    padding:1em;
}

.grid div:hover{
    border: 1px solid #e3ac97;

}
.SegundoIntento{
    margin:0 0 0 0;
    margin-right: 5px;
    margin-left: 25px;
}

#Cuadro1{
    background-color:white;
    margin:0 0 0 0;
    text-align: center;
}
#Cuadro2{
    background-color: white;
    text-align: center;
}
#Cuadro3{
    background-color: white;
    margin: 0 0 0 0;
    text-align: center;
 

}
#Cuadro4{
    background-color: white;
    margin:0 0 0 0;
      text-align: center;
}
#friends1{
    background-color: white;
    height: 450px;
    margin:15px 0 35px 0;
    
}
#wish1{
    background-color: white;
    height: 666px;
    margin:0 0 0 0;
}

#Cuadro_Principal{
    background-color:white;
    height: 1000px;
    margin: 16px 0 0 0;
}
#Amigos_1{
    background-color:white;
   
}
#Amigos_2{
    background-color:white;
}
#Amigos1{
    background-color: white;
}
#Amigos2{
    background-color: white;
    border-radius: 50%;
}
#Amigos3{
    background-color: white;
}
#Amigos4{
    background-color: white;
}
#Amigos5{
    background-color: white;
}
#Amigos6{
    background-color: white;
}
#Amigos7{
    background-color: white;
}
#Amigos8{
    background-color: white;
}
#title{
    background-color: white;
    text-align:center;
    font-size: 25px; 
    margin: 15px 0 0 0 ;
    color:#da0000;
    
}

#img5{
    background-color: #da0000;
    border-radius: 50%;
    width:100%;
    height: 100%;
    
}
#img6{
    background-color: #da0000;
    border-radius: 50%;
    width:100%;
    height: 100%;

}
#img7{
    background-color: #da0000;
    border-radius: 50%;
    width:100%;
    height: 100%;

}
#img8{
    background-color: #da0000;
    border-radius: 50%;
    width:100%;
    height: 100%;

}

#wish_img_1{
    background-color: white;
    
}

#deseo1{
    width: 330px;
    height: 515px;
    color:#da0000;
    font-size: 25px;
    text-align: justify;
    margin:0 0 0 25px;  
}
#Cuadro_Principal1{
    background-color: white;
}
#Cuadro_Principal2{
    background-color: white;
}
#Cuadro_Principal3{
    background-color: white;
}
<<<<<<< HEAD
=======

*{
    box-sizing: none;
    margin: 0;
    padding: 0;
    background-color: #D8D8D8;
    font-family: 'Soleil', sans-serif;
}

.img{
    width: 355px;
    height: 100px;
}
#icono{
    width: 75px;
    height: 75px;
}
.hea{
    background-color: #4BCEEB;   
}

.iconify{
    width: 75px;
    height: 75px;
}

#boton{
    background-color: white;
    color: #E9636D;
    margin-right: 100px;
    font-family: 'Soleil', sans-serif;
    font-size: 1.3em;
    width: 100px;
    height:35px;
    line-height:1px;
}

#trip{
    text-decoration: solid;
}

#paisaje{
  object-fit: cover;
  width: 100%;
  height: 300px ;
  margin: 0 0 15px 0 ;
    
}

#img_secundaria{
   display: block;
   margin:0px auto;
   border-radius: 50%;
   position:absolute;
   right: 100px;
   left: 130px;
   top: 320px;
   min-width: 50px;
   min-height: 50px;

}

/* .iconomas{
    background-color: white;
    border-radius: 1rem;
} */
/* .image{
    background-color: white;
} */
/* .ubi{
    background-color: white;
} */
/* .feeld{
    background-color: white;
} */

/**Comence desde aquí*/
.grid{
    display:grid;
    margin:0 60px 20px 60px;
    
}
/*Mejorar el tamaño de las imagenes*/
.grid div{
    background-color:#D8D8D8;
    padding:1em;
}

.grid div:hover{
    border: 1px solid #e3ac97;

}
.SegundoIntento{
    margin:0 0 0 0;
    margin-right: 5px;
    margin-left: 25px;
}

#Cuadro1{
    background-color:white;
    margin:0 0 0 0;
    text-align: center;
}
#Cuadro2{
    background-color: white;
    text-align: center;
}
#Cuadro3{
    background-color: white;
    margin: 0 0 0 0;
    text-align: center;
 

}
#Cuadro4{
    background-color: white;
    margin:0 0 0 0;
      text-align: center;
}
#friends1{
    background-color: white;
    height: 450px;
    margin:15px 0 35px 0;
    
}
#wish1{
    background-color: white;
    height: 666px;
    margin:0 0 0 0;
}

#Cuadro_Principal{
    background-color:white;
    height: 1000px;
    margin: 16px 0 0 0;
}
#Amigos_1{
    background-color:white;
   
}
#Amigos_2{
    background-color:white;
}
#Amigos1{
    background-color: white;
}
#Amigos2{
    background-color: white;
    border-radius: 50%;
}
#Amigos3{
    background-color: white;
}
#Amigos4{
    background-color: white;
}
#Amigos5{
    background-color: white;
}
#Amigos6{
    background-color: white;
}
#Amigos7{
    background-color: white;
}
#Amigos8{
    background-color: white;
}
#title{
    background-color: white;
    text-align:center;
    font-size: 25px; 
    margin: 15px 0 0 0 ;
    color:#da0000;
    
}

#img5{
    background-color: #da0000;
    border-radius: 50%;
    width:100%;
    height: 100%;
    
}
#img6{
    background-color: #da0000;
    border-radius: 50%;
    width:100%;
    height: 100%;

}
#img7{
    background-color: #da0000;
    border-radius: 50%;
    width:100%;
    height: 100%;

}
#img8{
    background-color: #da0000;
    border-radius: 50%;
    width:100%;
    height: 100%;

}

#wish_img_1{
    background-color: white;
    
}

#deseo1{
    width: 330px;
    height: 515px;
    color:#da0000;
    font-size: 25px;
    text-align: justify;
    margin:0 0 0 25px;  
}
#Cuadro_Principal1{
    background-color: white;
}
#Cuadro_Principal2{
    background-color: white;
}
#Cuadro_Principal3{
    background-color: white;
}
>>>>>>> margaritaflores
#Cuadro_Principal4{
    background-color: white;
}
#ultima1{
    background-color: white;
}
#ultima2{
    background-color: white;
}
#ultima3{
    background-color: white;
}
#ultima4{
    background-color: white;
}