*{
    box-sizing: none;
    margin: 0;
    padding: 0;
    background-color: #D8D8D8;
    font-family: 'Soleil', sans-serif;
}

#img{
    height: 100px;
    width: 350x;
}
/*CSS NAVBAR*/
#Paisaje_Principal{
    object-fit: cover;
    height: 300px;
    width: 100%;
}
.iconify{
    width: 15vw;
    height: 60px;
    background-color: #4BCEEB; 
} 

.iconos{
    background-color: #4BCEEB;
}
#botton{ 
    background-color: #4BCEEB; 
    color: #E9636D;
    font-family: 'Soleil', sans-serif;  
} 

#trip{
    text-decoration: solid;
    background-color: #4BCEEB; 
} 
/*CSS IMAGEN DE FONDO*/
#img{
    width: 355px;
    height: 100px;
    background-color: #4BCEEB;   
} 
/*CSS IMAGEN DE USUARIO*/
#img_secundaria{
   margin:0px auto;
   border-radius: 50%;
   position:absolute;
   right: 120px;
   left: 80px;
   top: 310px;  
}

.grid div:hover{
    border: 1px solid #e3ac97;

}

/*CSS CONTENIDO PRINCIPAL*/

#Cuadro_Amigos{
 background-color: white;
 border:1px solid #e3ac97;
 border-radius: 1.5rem; 
 width: 360px;

}


#friendsto1{
    background-color: white;
    border:1px solid #e3ac97;
    border-radius: 1.5rem;
    width: 360px;
    height: 315px;
   
    
}
#Presentate{
    background-color: white;
    border:1px solid #e3ac97;
    border-radius: 1.5em;
    margin-top: 40px;

   }

   #collage{
    background-color: white;
    border:1px solid #e3ac97;
    border-radius: 1.5em;
    width: 800px;
    height: 550px;
   }

#Cuadro_Interes_Principal{
    background-color: white;
    border-radius: 1.5em;
    text-align: center;
    height: 180px;
   
}

/*
CSS Wish List
*/

 .Wish{
    border-radius: 50%;  
    text-align: center;
}

.text{
    font-size: 1.vw;
}
#iconos_collage{
    background-color: white;
    color:#44BAA0;
}

#Columna_Imagenes{
    background-color: #E9636D;   
}

#Place1{
    border-radius: 1.5rem;

}
#Place2{
    border-radius: 1.5rem;

}

#friends{ 
        width: 5vw;
        height: 10vw;
        background-size: cover;
        border-radius: 50%;
        margin: 0px auto;
        display:block;  
        background-color: white; 
}

