*{
    box-sizing: none;
    margin: 0;
    padding: 0;
    background-color: #D8D8D8;
    font-family: 'Soleil', sans-serif;
}

.img{
    width: 355px;
    height: 100px;
}
#icono{
    width: 75px;
    height: 75px;
}
.hea{
    background-color: #4BCEEB;
    
}

.iconify{
    width: 75px;
    height: 75px;
}
.iconify :hover{
    fill: white;
}

#boton{
    background-color: white;
    color: #E9636D;
    margin-right: 100px;
    font-family: 'Soleil', sans-serif;
    font-size: 1.3em;
    width: 100px;
    height:35px;
    line-height:1px;
}
#bienvenida{
    color: #E9633D;
}
path:hover{
    fill: #DA0000;
}
#TituloPublicaciones{
    color:#44BAA0;
    font-weight: bolder;
    margin-left: 2%;
}


#imgcard{
    /* width:300px; */
    /* height: 150px; */
    border-radius:15px;
}

#separador{
background-color: #E9633D;
width: 1100px;
height: 70px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
}
#textoSeparador{
    
}
