body{
    margin: 0;
}
form{
    width: 450px;
    margin: auto;
    background-color: #E3AC97;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2 {
    color: #E9633D;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin-top: 20px;
    font-family: Arial;
}

p, input{
    background-color: #FFFFFF;
    border-radius: 20px;
}

#boton{
    background: #148FD4;
    color: #FFFFFF;
}

#boton:hover{
    cursor: pointer;
}

@media (max-width:480px){
    form{
        width: 100%;
    }

}
